body {
    background-color: rgb(78, 78, 223);
}

.main {
    display: flex;
    margin-left: 20px;
}

.product {
    background: white;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.payment {
    background-color: rgba(22, 24, 29, 0.973);
    color: white;
    padding: 10px 80px 80px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

h2 {
    text-align: center;
    font-size: x-large;
}

.enter_details {
    text-align: center;
    margin-bottom: 50px;
}

input {
    width: 350px;
    height: 20px;
    background-color: rgb(33, 41, 54);
    border: 1px solid white;
    color: white;
}

.payment_form {
    font-family: Arial, Helvetica, sans-serif;
}

#card_number_form {
    width: 120px;
}

#ccv_form {
    width: 90px;
    margin-left: 15px;
}

#expiry_date_form {
    width: 102px;
    margin-left: 15px;
}

#card_details {
    display: flex;
    justify-content: space-between;
    padding-right: px;
}

#exp {
    padding-left: 20px;
    padding-right: 37px;
}

#state_form {
    width: 140px;
}

#country_form {
    width: 180px;
    margin-left: 25px;
}

.pay {
    margin-top: 30px;
}

#country {
    margin-left: 85px;
}

#pay_button {
    width: 300px;
    height: 30px;
    border: 2px solid rgba(183, 183, 183, 0.564);
    border-radius: 3px;
    margin-left: 30px;
    background-color: rgb(78, 78, 223);
    color: white;
}

@media only screen and (max-width:1150px) {
    body {
        margin: 0;
    }
    .main {
        flex-direction: column;
    }
    #ccv {
        position: relative;
        right: 700px;
    }
}