* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/colour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.area {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 160px;
    left: 180px;
    width: 400px;
    height: 400px;
    background-color: rgba(115, 187, 232, 0.5);
    padding: 10px;
    border-radius: 20px;
}

h2 {
    text-transform: capitalize;
}

.form-area {
    height: 260px;
    width: 250px;
    margin: 30px 40px 40px 70px;
    border: 5px solid rgb(23, 128, 128);
    border-radius: 20px;
}

.user-pic {
    position: relative;
    left: 25px;
    height: 50px;
    bottom: 25px;
    border: 5px solid white;
    border-radius: 50px;
}

.mail {
    position: relative;
    height: 10px;
}

.user {
    position: relative;
    right: 127px;
    top: 30px;
}

.pass {
    position: relative;
    right: 100px;
    top: 27px;
}

.logIn {
    margin-top: 15px;
    margin-right: 118px;
    background-color: rgb(15, 53, 53);
    color: aliceblue;
    border: 1px solid rgb(96, 96, 233);
    border-radius: 3px;
}

.forgot_pass {
    position: relative;
    left: 35px;
    bottom: 18px;
    font-size: 13px;
}

.nAccount {
    margin-top: 10px;
    color: aliceblue;
    background-color: rgb(15, 53, 53);
    border: 1px solid rgb(96, 96, 233);
    border-radius: 3px;
}